
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

.wrap{
    width: 960px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
}
.selectnav{
    display: none;
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.wrap{
    width: 100%;
}
    #content{
        width: 64%;
        margin-right: 2%;
    }
    #section{
        width: 100%;
    }
    #sidebar{
        width: 31%;
    }
    .selectnav{
    display: block;
    height: 2.84em;
    width: 100%;
    }
    #mainmenu{
        display: none;
    }
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	.wrap{
    width: 98%;
    }
    #content{
        width: 100%;
    }
    #section{
        display: none;
    }
    .slider_bg{
        border-bottom: 0px;
    }
    #sidebar{
        width: 100%;
    }
    #header{
        text-align: center;
    }
    #imgp_wrap p{
	width: 97%;
    }
    #content figure{
        width: 73%;
    }
    #content figcaption{
        font-size: 85%;
    }
    blockquote{
        margin-left: 7%;
    }
    .selectnav{
    display: block;
    height: 2.84em;
    width: 100%;
    }
    #mainmenu{
        display: none;
    }
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrap{
    width: 98%;
}
    #content{
        width: 100%;
    }
    #section{
        display: none;
    }
    .slider_bg{
        border-bottom: 0px;
    }
    #sidebar{
        width: 100%;
    }
	#header{
        text-align: center;
    }
    #imgp_wrap p{
	width: 97%;
    }
    #content figure{
        width: 73%;
    }
    #content figcaption{
        font-size: 85%;
    }
    blockquote{
        margin-left: 7%;
    }
    .selectnav{
    display: block;
    height: 2.84em;
    width: 100%;
    }
    #mainmenu{
        display: none;
    }
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	.wrap{
    width: 98%;
    }
    #content{
        width: 100%;
    }
    #section{
        display: none;
    }
    .slider_bg{
        border-bottom: 0px;
    }
    #sidebar{
        width: 100%;
    }
    #imgp_wrap p{
	width: 97%;
    }
    #header{
        text-align: center;
    }
	#content figure{
        width: 73%;
    }
    #content figcaption{
        font-size: 85%;
    }
    blockquote{
        margin-left: 7%;
    }
    .selectnav{
    display: block;
    height: 2.84em;
    width: 100%;
    }
    #mainmenu{
        display: none;
    }
	
}
